<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WanderLust</title>
  </head>

  <body>
    <main>
      <section>
        <h1>Edit Listing :</h1>
        <form method="post" action="/listings/<%= listing._id %>?_method=PUT">
          <input name="listing[title]" value="<%= listing.title %>" placeholder="Enter title" type="text" />
          <br />
          <textarea name="listing[description]" placeholder="Enter description" type="text"><%= listing.description %></textarea>
          <br />
          <input name="listing[image]" value="<%= listing.image %>" placeholder="Enter image URL/Link" type="text" />
          <br />
          <input name="listing[price]" value="<%= listing.price %>" placeholder="Enter price" type="number" />
          <br />
          <input name="listing[location]" value="<%= listing.location %>" placeholder="Enter location" type="text" />
          <br />
          <input name="listing[country]" value="<%= listing.country %>" placeholder="Enter country" type="text" />
          <br />
          <button>Edit Listing</button>
        </form>
      </section>
    </main>
  </body>
</html>
