<%- layout('layouts/boilerplate') -%>
<body>
  <section class="section-edit">
    <div class="container">
      <h1 class="section-heading">Edit Listing :</h1>
      <form method="post" action="/listings/<%= listing._id %>?_method=PUT">
        <div class="form-group">
          <label for="title">Title : </label>
          <input type="text" name="listing[title]" id="title" placeholder="Enter title" value="<%=listing.title %>" required />
        </div>

        <div class="form-group">
          <label for="description">Description : </label>
          <textarea type="text" name="listing[description]" id="description" placeholder="Enter description" class="message-textarea" required><%= listing.description %></textarea>
        </div>

        <div class="form-group">
          <label for="image">Upload image link : </label>
          <input type="text" name="listing[image]" id="image" placeholder="Enter image URL/Link" value="<%= listing.image %>" required />
        </div>

        <div class="form-group-flex">
          <div class="form-group">
            <label for="price">Price : </label>
            <input type="number" name="listing[price]" id="price" placeholder="Enter price" value="<%= listing.price %>" required />
          </div>

          <div class="form-group">
            <label for="location">Location : </label>
            <input type="text" name="listing[location]" id="location" placeholder="Enter location" value="<%= listing.location %>" required />
          </div>
        </div>

        <div class="form-group mb--lg">
          <label for="country">Country : </label>
          <input type="text" name="listing[country]" id="country" placeholder="Enter country" value="<%= listing.country %>" required />
        </div>

        <button class="btn btn-edit">Confirm</button>
      </form>
    </div>
  </section>
</body>
