<%- layout('layouts/boilerplate') -%>

<body>
  <section class="section-show">
    <div class="container">
      <h1 class="section-heading"><%= listing.title %></h1>

      <div class="show-card">
        <div class="show-card-img-box">
          <img src="<%= listing.image %>" class="show-card-img" alt="listing image" />
          <img src="<%= listing.image %>" class="show-card-img" alt="listing image" />
          <img src="<%= listing.image %>" class="show-card-img" alt="listing image" />
          <img src="<%= listing.image %>" class="show-card-img" alt="listing image" />
          <img src="<%= listing.image %>" class="show-card-img" alt="listing image" />
        </div>

        <div class="card-body">
          <p class="show-card-description"><%= listing.description %></p>
          <p class="show-card-price">&#8377;<%= listing.price.toLocaleString('en-IN') %>/ night</p>
          <p class="show-card-location"><%= listing.location %>, <span><%= listing.country %></span></p>
          <p class="show-card-owner">Owned by : <span><%= listing.owner.username %></span></p>
        </div>
      </div>

      <% if(currUser && listing.owner._id.equals(currUser._id)) { %>
      <div class="form-group-flex">
        <a href="/listings/<%= listing._id %>/edit"><button class="btn btn-edit">Edit</button></a>
        <form method="post" action="/listings/<%= listing._id %>?_method=DELETE">
          <button class="btn btn-delete">Delete</button>
        </form>
      </div>

      <% } if (currUser && !listing.owner._id.equals(currUser._id) && listing.isAvailable) { %>

      <button class="btn btn-edit" id="reserve-btn">Reserve</button>
      <div class="modal-overlay">
        <div class="book-modal">
          <i class="fa-solid fa-xmark modal-close-btn"></i>
          <h2 class="section-heading">Book this room</h2>
          <form method="post" action="/user/orders/<%= listing._id %>">
            <div class="form-group">
              <label for="startDate">Start Date : </label>
              <input type="date" name="order[startDate]" id="startDate" required />
            </div>

            <div class="form-group">
              <label for="endDate">End Date : </label>
              <input type="date" name="order[endDate]" id="endDate" required />
            </div>

            <div class="form-group">
              <label for="guest">Guests : </label>
              <select name="order[guests]">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>

            <button class="btn btn-book">Book Now</button>
          </form>
        </div>
      </div>
      <% } %> <% if(currUser && !listing.isAvailable && !listing.owner._id.equals(currUser._id)) { %>
      <button class="btn btn-edit">Booked!</button>
      <% } %> <% if (listing.reviews.length) { %>
      <hr class="section-ruler" />

      <div class="review-section">
        <h2 class="section-heading">Reviews :</h2>

        <ul class="reviews-grid">
          <% for (const review of listing.reviews) { %>
          <li class="review">
            <div class="review-user">
              <img src="/user.png" class="review-user-img" />
              <span class="review-user-name">@<%= review.author.username %></span>
            </div>

            <div class="review-rating" style="display: flex; gap: 0.8rem; align-items: center">
              <p class="starability-result" data-rating="<%= review.rating %>"></p>
              <p>- <%= review.createdAt.toLocaleDateString('en-IN', { month: 'long', year: 'numeric' }) %></p>
            </div>

            <p class="review-message"><%= review.comment %></p>

            <% if(currUser && currUser._id.equals(review.author._id)) { %>
            <form method="post" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
              <button class="btn btn-delete btn-delete-review"><i class="fa-solid fa-trash delete-icon"></i> Delete</button>
            </form>
            <% } %>
          </li>
          <% } %>
        </ul>
      </div>
      <% } %>
    </div>
  </section>
</body>
