<%- layout('layouts/boilerplate') -%>

<body>
  <section class="section-show">
    <div class="container">
      <h1 class="section-heading"><%= listing.title %></h1>

      <div class="show-card">
        <div class="show-card-img-box">
          <img src="<%= listing.image %>" class="show-card-img" alt="listing image" />
          <img src="<%= listing.image %>" class="show-card-img" alt="listing image" />
          <img src="<%= listing.image %>" class="show-card-img" alt="listing image" />
          <img src="<%= listing.image %>" class="show-card-img" alt="listing image" />
          <img src="<%= listing.image %>" class="show-card-img" alt="listing image" />
        </div>

        <div class="card-body">
          <p class="show-card-description"><%= listing.description %></p>
          <p class="show-card-price">&#8377;<%= listing.price.toLocaleString('en-IN') %>/ night</p>
          <p class="show-card-location"><%= listing.location %>, <span><%= listing.country %></span></p>
        </div>
      </div>

      <div class="form-group-flex">
        <a href="/listings/<%= listing._id %>/edit"><button class="btn btn-edit">Edit</button></a>
        <form method="post" action="/listings/<%= listing._id %>?_method=DELETE">
          <button class="btn btn-delete">Delete</button>
        </form>
      </div>
    </div>
  </section>
</body>
